<app-navbar></app-navbar>

<app-screen [width]="'45'" [height]="'75'">
  <div class="rule-container">
    <h1 class="rule-title">Les règles</h1>
    <div class="rule-content">
      <div class="rule-item">
        <div class="rule-number">Règle 1 :</div>
        <div class="rule-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem.</div>
      </div>
      <div class="rule-item">
        <div class="rule-number">Règle 2 :</div>
        <div class="rule-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem.</div>
      </div>
      <div class="rule-item">
        <div class="rule-number">Règle 3 :</div>
        <div class="rule-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
          molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
          sint commodi repudiandae consequuntur voluptatum laborum
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
          optio, eaque rerum! Provident similique accusantium nemo autem.</div>
      </div>
    </div>
    <button class="rule-button">J'ai compris</button>
  </div>
</app-screen>
